<div class="centered">
    <mat-card>
        <button mat-fab color="warn" (click)="delete()" class="delete-fab"
            aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
        </button>
        <form [formGroup]="cometForm">
            <div class="form-row">
                <mat-form-field class="example-form-field">
                    <mat-label>Name</mat-label>
                    <input [disabled]="!isEdit" matInput type="text" formControlName="name">
                </mat-form-field>
                <mat-form-field class="example-form-field">
                    <mat-label>Available budget</mat-label>
                    <input matInput type="number" formControlName="availableBudget">
                    <mat-icon class="suffix" matSuffix>star_rate</mat-icon>
                </mat-form-field>
            </div>
            <div class="form-row">
                <mat-form-field class="example-form-field">
                    <mat-label>Lead user</mat-label>
                    <mat-select formControlName="leadUserId">
                        <mat-option>
                            <ngx-mat-select-search formControlName="userFilter" placeholderLabel="Find user..."
                                noEntriesFoundLabel="'no matching user found'"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of searchUsers" [value]="item._id">
                            {{item.firstname + ' ' + item.lastname}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
        <button mat-raised-button class="custom-btn-back left" (click)="back()">Back</button>
        <div class="buttons-center">
            <button *ngIf="isEdit" mat-raised-button class="custom-btn" (click)="update()">Update</button>
            <button *ngIf="isEdit" mat-raised-button color="warn" (click)="changeEdit()">Cancel</button>
            <button *ngIf="!isEdit && (this.comet.leadUserId || this.comet.leadUserId != '0')" mat-raised-button
                class="comet" (click)="openUser()">View lead</button>
            <button *ngIf="!isEdit" mat-raised-button color="primary" (click)="changeEdit()">Edit</button>
        </div>
    </mat-card>
</div>
<div class="centered">
    <mat-card>
        <div class="form-row">
            <h2>Co-leaders</h2>
            <table mat-table [dataSource]="filterUsers()" class="mat-elevation-z8">

                <!-- Position Column -->
                <ng-container matColumnDef="firstname">
                    <th mat-header-cell *matHeaderCellDef> Firstname. </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="lastname">
                    <th mat-header-cell *matHeaderCellDef> Lastname </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <span class="material-icons open-user" (click)="openUser(element._id)">search</span>
                        <span class="material-icons open-user" (click)="removeUserFromComet(element._id)">delete</span>
                        <span class="material-icons" style="color: rgb(248, 211, 0);" #tooltip="matTooltip"
                            matTooltip="Leader" [matTooltipPosition]="'below'"
                            matTooltipHideDelay="1000">admin_panel_settings</span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <form [formGroup]="addUserForm">
                <mat-form-field class="example-form-field user-select">
                    <mat-label>Add new user</mat-label>
                    <mat-select formControlName="userId">
                        <mat-option>
                            <ngx-mat-select-search formControlName="userFilter" placeholderLabel="Find user..."
                                noEntriesFoundLabel="'no matching user found'"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let item of searchUsers" [value]="item._id">
                            {{item.firstname + ' ' + item.lastname}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button class="add-user-btn" (click)="addUserToComet()">Add user</button>
            </form>
        </div>
    </mat-card>
</div>
