.example-spacer {
    flex: 1 1 auto;
  }

  .toolBar {
    background-color: #F26E28;
    color: white;
  }

  mat-icon {
      color: white !important;
      background-color: #F26E28 !important;
  }

  button {
    background-color: #F26E28 !important;
    color: white;
  }
