h1, h2 {
    color:#F26E28;
    display: inline-block;
}

h2 {
    float: right;
    vertical-align: middle;
}

.inline {
    display: inline-block;
}

.title {
width: 100%;
}

.material-icons {
    font-size: 2em;
}

.counter {
    position: absolute;
    margin-top: 0.5em;
    margin-left: -0.5em;
}

.user-data {
    margin-right: 0.3em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    width: 100px;
}

.admin-cell {
    float: right;
    margin-top: -0em;
    color: rgba(184, 184, 184, 0.87);
}

.table-row {
    width: 100%;
    padding-left: 0.5em;
}

.table-row:hover {
    background-color: rgba(209, 209, 209, 0.87);;
}

.admin {
    color:#F26E28 !important;
}

.phone {
    cursor: pointer;
    font-size: x-large;
    float: right;
    margin-top: .3em;
    width: 30px;
    color:#F26E28 !important;
}

.delete-fab {
    position: absolute;
      right: -1.5em;
      top: -1.5em;
      background-color: #F26E28;
  }

  .add-icon {
      font-size: 3em;
      position: absolute;
      margin-top: -15px;
      top: 23px;
      right: 24px;
  }
