.half-left {
    width: 40%;
    margin-left: 3em;
    margin-top: 3em;
    display: inline-block;
}

.half-right {
    width: 40%;
    margin-right: 3em;
    margin-top: 3em;
    float: right;
    display: inline-block;
}

.inline {
    display: inline;
}
